@import url("https://fonts.googleapis.com/css?family=Calligraffitti|Mali");
/* GENERAL STYLES */
:root {
  --mainYellow: #fdbe02;
  --mainWhite: #fff;
  --mainBlack: #071013;
  --mainGrey: #9b9999;
  --TransGrey: rgba(0, 0, 0, 0.1);
  --mainPink: #ef7998;
  --mainTransition: all 0.3s linear;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Mali", cursive;
}

.text-slanted {
  font-family: "Calligraffitti", cursive;
}
.text-yellow {
  color: var(--mainYellow);
}
.btn-yellow {
  background: var(--mainYellow);
  text-transform: capitalize;
  font-size: 1.2rem;
  color: var(--mainBlack);
  border-radius: 0 !important ;
  -webkit-border-radius: 0 !important ;
  -moz-border-radius: 0 !important ;
  -ms-border-radius: 0 !important ;
  -o-border-radius: 0 !important ;
}
.btn-yellow:hover {
  background: var(--mainBlack);
  color: var(--mainYellow);
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: var(--mainBlack);
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border: 0.1rem solid var(--mainBlack);
}
.btn-black:hover {
  background: var(--mainBlack);
  color: var(--mainWhite);
}
.banner-women-products,
.banner-men-products,
.banner-kids-products
.banner-payment 
.banner-profile {
  min-height: 60vh;
  background: linear-gradient(
    rgba(245, 121, 224, 0.5),
    rgba(255, 255, 255, 0.5)
  ),
  url("../images/hhw.png") center/cover fixed no-repeat;
}
.banner-men-products {
  min-height: 60vh;
  background: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(255, 255, 255, 0.5)),
      to(rgba(255, 255, 255, 0.5))
    ),
    url("../images/men-page.jpg") center/cover fixed no-repeat;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../images/men-page.jpg") center/cover fixed no-repeat;
}
.banner-kids-products {
  min-height: 60vh;
  background: 
    url("../images/kid+tuna.png") center/cover fixed no-repeat;
}
.banner-payment {
  min-height: 60vh;
  background: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(245, 121, 224, 0.5)),
      to(rgba(255, 255, 255, 0.5))
    ),
    url("../images/payment.jpg") center/cover fixed no-repeat;
  background: linear-gradient(
      rgba(245, 121, 224, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../images/payment.jpg") center/cover fixed no-repeat;
}
.banner-profile {
  min-height: 40vh;
  background: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(245, 121, 224, 0.5)),
      to(rgba(255, 255, 255, 0.5))
    ),;
  background: linear-gradient(
      rgba(245, 121, 224, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    /* url("../images/payment.jpg") center/cover fixed no-repeat; */
}



/* ####################################### HomePage #################################### */
/*--------------------
        navbar
 ----------------------- */
.navbar-toggler {
  outline: none !important;
  border: none;
  font-size: 2.2rem;
  color: var(--mainYellow) !important;
}
.nav-link {
  font-size: 1.6rem;
  border-bottom: 0.1rem solid var(--mainWhite);
}
.nav-active {
  border-bottom: 0.1rem solid var(--mainYellow);
}
.navbar-icon {
  font-size: 1.6rem;
  cursor: pointer;
}
.navbar-icon:hover {
color: var(--mainPink)
}
.navbar-cart-icon {
  color: var(--mainBlack);
  position: relative;
}
.navbar-cart-icon:hover {
  color: var(--mainPink);
}
.cart-items {
  color: var(--mainBlack);
  position: absolute;
  top: -15%;
  right: -25%;
  padding: 0.2rem 0.3rem;
  background: var(--mainYellow);
  font-size: 0.1rem;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
}


.fashion{
  text-decoration: none !important;
}
/*--------------------
        banner
 ----------------------- */
.banner {
  min-height: calc(100vh - 101px);
  /* background: url("/assets/images/home-filler.png"); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;  
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 121, 224, 0.5)), to(rgba(0, 0, 0, 0.5))), 
  url("../images/home-filler.png") center/cover fixed no-repeat;
  background: linear-gradient(rgba(245, 121, 224, 0.5), rgba(0, 0, 0, 0.5)), 
  url("../images/home-filler.png") center/cover fixed no-repeat;

}
/*--------------------
        services
 ----------------------- */
.service-icon {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--mainYellow);
  background: var(--mainGrey);
  padding: 0.5rem 1rem;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
}
/*--------------------
        categories
 ----------------------- */
.categories-link {
  color: var(--mainBlack);
  text-decoration: none;
}
.categories-link:hover {
  color: var(--mainGrey);
  text-decoration: none;
}
.categories-underline {
  height: 0.1rem;
  width: 5rem;
  background: var(--mainYellow);
}
.category-container {
  position: relative;
}
.category-img {
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
}
.category-container:hover .category-img {
  opacity: 0.5;
}
.category-link {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.2rem 3rem 0.2rem 0.2rem;
  background: var(--mainWhite);
  color: var(--mainBlack);
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  opacity: 0;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  text-decoration: none !important;
}
.category-link:hover {
  color: var(--TransGrey);
}
.category-container:hover .category-link {
  opacity: 1;
}

/*--------------------
      beach seson
 ----------------------- */
.banner-title {
  color: var(--mainPink);
  font-size: 64px;
  font-size: 4rem;
}


/*--------------------
      home filler
 ----------------------- */
.home-filler {
  min-height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../images/women+stand.png") center/cover fixed no-repeat;
  
}
.collection-link {
  color: var(--mainYellow);
  text-decoration: none !important;
}
.collection-link:hover {
  color: var(--mainGrey);
  text-decoration: none !important;
}
.collection-underline {
  height: 0.1rem;
  width: 5rem;
  background: var(--mainYellow);
  margin: 0 auto;
}
/*--------------------
  featured section or best seller
 ----------------------- */
.featured-container {
  background: var(--mainWhite);
  position: relative;
  overflow: hidden;
}
.featured-search-icon {
  background: var(--mainWhite);
  display: inline-block;
  padding: 0.2rem 0.4rem;
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 1.2rem;
  -webkit-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  cursor: pointer;
  -moz-transform: translateX(110%);
  -ms-transform: translateX(110%);
  -o-transform: translateX(110%);
}
.featured-container:hover .featured-search-icon {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.featured-store-link {
  background: var(--mainYellow);
  color: var(--mainBlack);
  padding: 0.2rem 0.4rem;
  position: absolute;
  right: 0;
  top: 70%;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.featured-store-link:hover {
  color: var(--mainBlack);
}
.featured-container:hover .featured-store-link {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.old-price {
  text-decoration: line-through;
}

.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}

/*--------------------
      footer
 ----------------------- */
.footer {
  background: rgba(0, 0 ,0 , 0.8);
}
.footer-title {
  border: 0.2rem solid var(--mainYellow);
  padding: 0.4rem;
}
.footer-icon {
  color: var(--mainYellow);
}
.footer-icon:hover {
  color: var(--mainWhite);
}

/* ########################## women - men- kids produts page ############################## */
.products-categories-underline {
  height: 0.2rem;
  width: 5rem;
  background: var(--mainYellow);
}
.products-categories-link {
  color: var(--mainBlack);
    text-decoration: none !important; 
}
.products-categories-link:hover {
  color: var(--mainPink);
}
.products-color {
  width: 1rem;
  height: 1rem;
}
.products-color-black {
  background: black;
}
.products-color-red {
  background: red;
}
.products-color-blue {
  background: blue;
}
.products-color-yellow {
  background: yellow;
}
.products-color-green {
  background: green;
}

/* ########################## single produt page ############################## */
.rating-icon {
  color: var(--mainYellow);
}
.single-product-photo {
  background: var(--TransGrey);
  opacity: 0.5;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  cursor: pointer;
  border: 0.1rem solid transparent;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}
.single-product-photo:hover {
  border-color: var(--mainBlack); 
  opacity: 1;
}
.product-info-link {
  color: var(--mainGrey);
  text-decoration: none !important;
}
.product-info-link:hover {
  color: var(--mainYellow);
}

/* ########################## Login/singUp/Shipping/Profile/Search/Contact ############################## */
.login-purple-pink {
  background: linear-gradient(145deg, #3f51b5, #e91e63);
}
.shipping-dark {
  background: linear-gradient(145deg, #575b5d, #252b2d);
}

/* ########################## dropdown menu ############################## */
.cd-dropdown {
  position: fixed;
  z-index: 1;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}
.cd-dropdown.dropdown-is-active {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.cd-drown-content.is-hidden, .cd-dropdown-content ul.is-hidden {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}
.cd-dropdown-content.move-out > li > a, .cd-dropdown-content ul.move-out > li > a {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

@media only screen and (min-width: 1024px) {
  .cd-dropdown {
    position: absolute;
    top: 100%;
    /* reset style*/
    height: auto;
    width: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
  }
  .cd-dropdown.dropdown-is-active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: opacity 0.3s 0s, visibility 0.3s 0s, -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0.3s 0s, -webkit-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0.3s 0s, transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0.3s 0s, transform 0.3s 0s, -webkit-transform 0.3s 0s;
  }

  .cd-dropdown-content {
    /* reset mobile style */
    position: static;
    height: auto;
    width: 280px;
  }
  .cd-dropdown-content .cd-secondary-dropdown, .cd-dropdown-content .cd-dropdown-gallery, .cd-dropdown-content .cd-dropdown-icons {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 100%;
    height: auto;
  }
  .cd-dropdown-content .cd-secondary-dropdown.is-hidden, .cd-dropdown-content .cd-dropdown-gallery.is-hidden, .cd-dropdown-content .cd-dropdown-icons.is-hidden {
    /* reset mobile style */
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .cd-dropdown-content > .has-children > ul {
    visibility: hidden;
  }
  .cd-dropdown-content > .has-children:hover > ul {
    /* when hover over .cd-dropdown-content items - show subnavigation */
    visibility: visible;
  }
  .cd-dropdown-content > .has-children:hover > .cd-secondary-dropdown > li > ul {
    /* if .cd-secondary-dropdown is visible - show also subnavigation */
    visibility: visible;
  }
}